

<ion-header>
</ion-header>

<ion-content>
  <customer-search (messageEvent)="receiveMessage($event)"></customer-search>
  <ion-row>
    <div *ngIf="platform.is('tablet') || platform.is('core')">
      <ion-col col-4 col-md-4 col-lg-6 >
        <ion-list dragula="SERVICE" id="left" [(dragulaModel)]="servicesAvail">
          <ion-item *ngFor="let service of servicesAvail" id={{service.id}}>{{service.name}}</ion-item>
        </ion-list>
      </ion-col>
    </div>
      <ion-col col-12 col-sm-12 col-md-8 col-lg-8>
       <ion-title>
         {{ viewTitle }}
       </ion-title>
     <ion-navbar color="primary">
       <ion-buttons end>
         <button ion-button [disabled]="isToday" (click)="today()">Hoy</button>
         <button ion-button (click)="changeMode('month')">Mes</button>
         <button ion-button (click)="changeMode('week')">Semana</button>
         <button ion-button (click)="changeMode('day')">Dia</button>
       </ion-buttons>
       <ion-buttons end>
         <button ion-button icon-only (click)="addEvent()">
           <ion-icon name="add"></ion-icon>
         </button>
       </ion-buttons>
     </ion-navbar>



        <ng-template #template3 let-displayEvent="displayEvent">
          <div class="calendar-event-inner" [ngStyle]="{'background-color': displayEvent.event.eventColor, color: 'white'}">
            {{displayEvent.event.title}}
          </div>
        </ng-template>

       <calendar [eventSource]="eventSource"
                 [calendarMode]="calendar.mode"
                 [currentDate]="calendar.currentDate"
                 (press)="calendar.onTimePress($event)"
                 (click)="calendar.onClick()"
                 (doubleclick)="calendar.onDoubleClick()"
                 (mousemove)="calendar.onMove($event)"
                 (mousedown)="calendar.onMoveDown($event)"
                 (drop)="calendar.onDrop()"
                 (dragover)="calendar.onDrop()"
                 (onEventSelected)="onEventSelected($event)"
                 (onTitleChanged)="onViewTitleChanged($event)"
                 (onTimeSelected)="onTimeSelected($event)"
                 [locale]="calendar.locale"
                 [dayviewNormalEventTemplate]="template3"
                 step="30"
                 startHour="9"
                 endHour="20"
                 class="calendar">
       </calendar>




   </ion-col>
  </ion-row>
</ion-content>


