
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "../../node_modules/ionic-angular/themes/ionic.globals";



$background-color: #fff;
$card-ios-margin-left: 10px;
$card-ios-margin-right: 10px;
$card-md-margin-left: 10px;
$card-md-margin-right: 10px;

:root {
  --ion-color-primary:         #488aff;
  --ion-color-secondary:       #0cd1e8;
  --ion-color-tertiary:        #7044ff;
  --ion-color-success:         #10dc60;
  --ion-color-warning:         #ffce00;
  --ion-color-danger:          #f04141;
  --ion-color-light:           #f4f5f8;
  --ion-color-medium:          #989aa2;
  --ion-color-dark:            #222428;
  --ion-color-white:           #fff;

  --ion-color-favorite:        #69BB7B;
  --ion-color-twitter:         #1da1f4;
  --ion-color-google:          #cc181e;
  --ion-color-facebook:        #3b5998;
}




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "../../node_modules/ionic-angular/themes/ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "../../node_modules/ionic-angular/themes/ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "../../www/assets/fonts/roboto";
@import "../../www/assets/fonts/noto-sans";
