<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{action}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label color="facebook">Nombre</ion-label>
    <ion-input type="text" [(ngModel)] = "professional.personName.firstName" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="facebook">Apellido</ion-label>
    <ion-input type="text" [(ngModel)] = "professional.personName.lastName" name="lastName"></ion-input>
  </ion-item>
  <ion-item *ngIf="action == 'Registrarse'">
    <ion-label color="facebook">Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)] = "professional.email" name="email"></ion-input>
  </ion-item>
  <ion-item *ngIf="action == 'Registrarse'">
    <ion-label color="facebook">Password</ion-label>
    <ion-input type="password" [(ngModel)] = "reg.password" name="password"></ion-input>
  </ion-item>
  <ion-item *ngIf="action == 'Registrarse'">
    <ion-label color="facebook">Repetir Password</ion-label>
    <ion-input type="password" [(ngModel)] = "reg.password2" name="password2"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Hora de Inicio Calendario por Día (*)</ion-label>
    <ion-input  type="number" placeholder="hora inicio calendario" min = 1 max = 24 (ionBlur)="onChangeHourStart(professional.startHour)"  [(ngModel)]="professional.startHour" required="required">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Hora de Fin Calendario por Día (*)</ion-label>
    <ion-input  type="number" placeholder="hora fin calendario" min = 1 max = 24 (ionBlur)="onChangeHourStart(professional.endHour)" [(ngModel)]="professional.endHour" required="required">
    </ion-input>
  </ion-item>

  <button ion-button full color="secondary" (click)="registerAccount()" *ngIf="action == 'Registrarse'">Registrarse</button>
  <button ion-button full color="secondary" (click)="updateAccount()" *ngIf="action == 'Actualizar'">Actualizar</button>
  <button ion-button full icon-left color="gray" (click)="cancel()" *ngIf="action == 'Actualizar'">Cancelar</button>
  <button ion-button full icon-left color="danger" (click)="deleteUser()" *ngIf="action == 'Actualizar'">Eliminar</button>

</ion-content>
