<ion-header>
  <ion-navbar  color="primary">
    <ion-title>Información de contacto</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label >Nombre del paciente: </ion-label>
    <ion-input  type="text" id="name"[(ngModel)]="customer.person.personName.firstName" name="name" required="required" >
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-label >Apellido del paciente: </ion-label>
    <ion-input  type="text" id="lastname"[(ngModel)]="customer.person.personName.lastName" name="lastname" required="required" >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Tipo de identificacion:  </ion-label>
    <ion-select type="text" placeholder="Cédula"  id="idType" name="idType" multiple="false" [(ngModel)]="customer.person.idType" >
      <ion-option *ngFor="let idType of idTypes" [value] = "idType.code" [selected]="idType.code == 'Cédula'">{{idType.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label >Numero  de identificacion:  </ion-label>
    <ion-input  type="number" id="identification"[(ngModel)]="customer.person.identification" name="identification" >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Telefono fijo: </ion-label>
    <ion-input  type="tel" id="phone"[(ngModel)]="customer.person.phone" name="phone">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Telefono celular: </ion-label>

    <ion-input  type="tel" id="mobile" (ionBlur)="onChangeTel(customer.person.mobile)" [(ngModel)]="customer.person.mobile" name="mobile" required="required" >
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label >Correo electrónico: </ion-label>
    <ion-input  type="email" id="email"[(ngModel)]="customer.person.email" name="email">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Notificación Masiva: </ion-label>
    <ion-select type="text" placeholder="WhatsApp"  id="contact" name="contact" multiple="false" [(ngModel)]="customer.person.channels" >
      <ion-option *ngFor="let contactPref of contactPref" [value] = "contactPref.code" [selected]="contactPref.code == 'WhatsApp'">{{contactPref.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Direccion </ion-label>
    <ion-input  type="text" placeholder="Baker street" id="address"[(ngModel)]="customer.person.address" name="address">
    </ion-input>
  </ion-item>
  <ion-buttons >
    <button ion-button full icon-left color="secondary" (click)="save()">
      <ion-icon name="checkmark"></ion-icon> Actualizar
    </button>

    <!--button ion-button full icon-left color="danger" (click)="delete()">
      Eliminar
    </button-->
  </ion-buttons>

</ion-content>

