page-home {

  ion-icon{
    color: $background-color;
  }


  .left {
    border-right: 1px solid #000000;
    padding: 0px;
    overflow: scroll;
  }

  .right {
    padding: 0px;
    overflow: scroll;
  }
  ion-row {
    height: 100%;
  }
}
