<ion-header>
  <ion-toolbar *ngIf="!loggedIn" color="light">
    <button ion-button color="secondary" small outline [navPush]="loginPage">Ingresar</button>
  </ion-toolbar>
  <ion-toolbar *ngIf="loggedIn" color="light">
    <button ion-button icon-left clear small color="dark">
      <ion-icon name="contact"></ion-icon>
      {{loggedIn}}
    </button>
    <button ion-button color="dark" outline small (click)="signOff()">Salir</button>
    <button ion-button outline small color="dark" right (click)="showPlatform()">Plataforma</button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
